.form-group {
    width: 500px;
    margin: 0 auto;
}

.btn-success,
.btn-info,
.btn-primary,
.btn-danger,
.btn-warning {
    border: none;
    outline: none;
}

.id {
	border: none;
	background: transparent;
	outline: none;
}
.id:after {
	content: url(icon/fav.png);
}
.userName {
    font: 16pt Arial;
    font-style: oblique;
}

a, a:hover {
	text-decoration: none;
}
