.form-group {
    width: 500px;
    margin: 0 auto;
}

.btn-success,
.btn-info,
.btn-primary,
.btn-danger,
.btn-warning {
    border: none;
    outline: none;
}

.info {
	width: 50%;
	margin-left: 2%;
	font-size: 20pt;
}

.add {
	border: none;
	background: transparent;
	outline: none;
}
.add:before {
	content: url(icon/fav.png);
	float: left;
}

.add:hover {
	color:#F50057;
}

.userName {
    font: 16pt Arial;
    font-style: oblique;
}

a, a:hover {
	text-decoration: none;
}
.form-group {
	padding-bottom: 1%;
}
